body {
  background-color: #101010;
  color: #545454;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100vh;
  justify-content: center;
}
h1 {
  margin-bottom: 10px;
  font-size: 2.5rem;
}
p {
  max-width: 500px;
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.3rem;
}
.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.link {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #1f1a21;
  padding: 12px 18px;
  border-radius: 8px;
  text-decoration: none;
  color: #5e5d5d;
  transition: background-color 0.2s;
}
.link:hover {
  background-color: #3d3d5c;
}
.link i {
  font-size: 1.4rem;
}
@media (max-width: 500px) {
  h1 {
    font-size: 2rem;
  }
  .link {
    width: 100%;
    justify-content: center;
  }
}