.info-card {
    max-width: 81%;
    margin: 10px auto; 
    padding: 10px 20px; 
    box-sizing: border-box;
    border-radius: 5px; 
    font-size: 0.9rem; 
    color: #333; 
    text-align: left; 
    margin-bottom: 30px;
  }
  
  .info-card.info {
    background-color: #e3f2fd;
    border: 1px solid #1976d2;
  }
  
  .info-card.info h2 {
    color: #1976d2;/
  }
  
  .info-card.info p {
    color: #555;
  }
  
  .info-card.warning {
    background-color: #fff9c4;
    border: 1px solid #fbc02d;
  }
  
  .info-card.warning h2 {
    color: #fbc02d;
  }
  
  .info-card.warning p {
    color: #555;
  }
  
  .info-card.red-warning {
    background-color: #ffcdd2;  
    border: 1px solid #f44336;  
  }
  
  .info-card.red-warning h2 {
    color: #f44336;
  }
  
  .info-card.red-warning p {
    color: #555;
  }
  
  .info-card:hover {
    opacity: 0.95;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
