.dark-mode {
  background: #121212;
  color: #e0e0e0;
}
.dark-mode header {
  background: rgba(18, 18, 18, 0.95);
}
.dark-mode .logo {
  color: #bb86fc;
}
.dark-mode .nav-links li a {
  color: #e0e0e0;
}
.dark-mode .nav-links li a:hover {
  background: #bb86fc;
  color: #000;
}
.dark-mode .home {
  background: linear-gradient(135deg, #1e1e1e, #121212);
}
.dark-mode .feature-card,
.dark-mode .plugin-card {
  background: #1e1e1e;
  color: #e0e0e0;
  border: 1px solid #333;
}
body.dark-mode .faqs {
  background: #222;
  color: #ddd;
}
body.dark-mode .faq-question {
  color: #ff79c6;
}
body.dark-mode .faq-answer {
  color: #bbb;
}
.dark-mode footer {
  background: #1e1e1e;
  color: #888;
}
.dark-mode .footer-links a {
  color: #bb86fc;
}
.dark-mode table {
  background-color: #222;
  color: #ddd;
  border-collapse: collapse;
  width: 100%;
}
.dark-mode th {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: left;
  border: 1px solid #444;
}
.dark-mode td {
  background-color: #222 !important; 
  color: #ddd;
  padding: 10px;
  border: 1px solid #444;
}
.dark-mode tbody tr {
  background-color: #222 !important; 
}
.dark-mode tbody tr:hover {
  background-color: #333 !important;
}

/* Cards */

.dark-mode .info-card.exp {
  background-color: #2a3d5f;
  border: 1px solid #42a5f5;
}
.dark-mode .info-card.exp h2 {
  color: #90caf9;
}
.dark-mode .info-card.exp p {
  color: #bbb;
}
.dark-mode .info-card.dev {
  background-color: #5e421a;
  border: 1px solid #ffb74d;
}
.dark-mode .info-card.dev h2 {
  color: #ffcc80;
}
.dark-mode .info-card.dev p {
  color: #bbb;
}
.dark-mode .info-card.note {
  background-color: #23443f;
  border: 1px solid #26a69a;
}
.dark-mode .info-card.note h2 {
  color: #80cbc4;
}
.dark-mode .info-card.note p {
  color: #bbb;
}
.dark-mode .info-card:hover {
  opacity: 0.95;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}
.dark-mode .plugin-card.exp {
  background-color: #2a3d5f;
  border: 1px solid #42a5f5;
}
.dark-mode .plugin-card.exp h2 {
  color: #90caf9;
}
.dark-mode .plugin-card.exp p {
  color: #bbb;
}
.dark-mode .plugin-card.dev {
  background-color: #5e421a;
  border: 1px solid #ffb74d;
}
.dark-mode .plugin-card.dev h2 {
  color: #ffcc80;
}
.dark-mode .plugin-card.dev p {
  color: #bbb;
}
.dark-mode .plugin-card.note {
  background-color: #23443f;
  border: 1px solid #26a69a;
}
.dark-mode .plugin-card.note h2 {
  color: #80cbc4;
}
.dark-mode .plugin-card.note p {
  color: #bbb;
}
.dark-mode .plugin-card:hover {
  opacity: 0.95;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

/* hr */

body.dark-mode hr {
  border-top: 1px solid #121212;
}
.dark-mode .faq-item{
  border-bottom: 1px solid #121212;
}
