/* .INFO */


.info-mcard {
  max-width: 81%;
  margin: 10px auto; 
  padding: 10px 20px; 
  box-sizing: border-box;
  border-radius: 5px; 
  font-size: 0.9rem; 
  color: #333; 
  text-align: left; 
  margin-bottom: 30px;
}

/* Experimental */

.info-mcard.exp {
  background-color: #e3f2fd;
  border: 1px solid #42a5f5;
}
.info-mcard.exp h2 {
  color: #1e88e5;
}
.info-mcard.exp p {
  color: #555;
}

/* Under dev */

.info-mcard.dev {
  background-color: #fff3e0;
  border: 1px solid #ffb74d;
}
.info-mcard.dev h2 {
  color: #fb8c00;
}
.info-mcard.dev p {
  color: #555;
}

/* General info */

.info-mcard.note {
  background-color: #e0f2f1;
  border: 1px solid #26a69a;
}
.info-mcard.note h2 {
  color: #00897b;
}
.info-mcard.note p {
  color: #555;
}

/* .PLUGIN */


.plugin-mcard {
  max-width: 81%;
  margin: 10px auto; 
  padding: 10px 20px; 
  box-sizing: border-box;
  border-radius: 5px; 
  font-size: 0.9rem; 
  color: #333; 
  text-align: left;
  margin-top: 10%;
  margin-bottom: -4%;
}

/* Experimental */

.plugin-mcard.exp {
  background-color: #e3f2fd;
  border: 1px solid #42a5f5;
}
.plugin-mcard.exp h2 {
  color: #1e88e5;
}
.plugin-mcard.exp p {
  color: #555;
}

/* Under dev */

.plugin-mcard.dev {
  background-color: #fff3e0;
  border: 1px solid #ffb74d;
}
.plugin-mcard.dev h2 {
  color: #fb8c00;
}
.plugin-mcard.dev p {
  color: #555;
}

/* General info */

.plugin-mcard.note {
  background-color: #e0f2f1;
  border: 1px solid #26a69a;
}
.plugin-mcard.note h2 {
  color: #00897b;
}
.plugin-mcard.note p {
  color: #555;
}
